#TimeLine{
    position: relative;
    display: table-cell;
    text-align: center;
    height: auto;
    background: linear-gradient(#dddddd, #dddddd) no-repeat center/2px 100%;
    /* background-color: #eeeeee; */
}

img.RightTimelinepic{
    position: relative;
    width: 24%;
    height: auto;
    left: 15%;
    /* background-color: yellow; */
    margin-bottom: 2%;
    box-shadow: 5px 5px grey;
}

img.LeftTimelinepic{
    position: relative;
    width: 24%;
    height: auto;
    left: -15%;
    /* background-color: blue; */
    margin-bottom: 2%;
    box-shadow: 5px 5px grey;
}