#TimeLine{
    position: relative;
    display: table-cell;
    text-align: center;
    height: auto;
    background: linear-gradient(#dddddd, #dddddd) no-repeat center/2px 100%;
    /* background-color: #eeeeee; */
    animation-duration: 3s;
    animation-name: titleSlideIn;
}

img.RightTimelinepic{
    position: relative;
    width: 24%;
    height: auto;
    left: 15%;
    /* background-color: yellow; */
    margin-bottom: 2%;
    box-shadow: 5px 5px grey;
    animation-duration: 3s;
    animation-name: imgSlideIn;
}

img.LeftTimelinepic{
    position: relative;
    width: 24%;
    height: auto;
    left: -15%;
    /* background-color: blue; */
    margin-bottom: 2%;
    box-shadow: 5px 5px grey;
    animation-duration: 3s;
    animation-name: imgSlideIn;
}

@keyframes imgSlideIn {
    from {
        margin-bottom: -50%;
        width: 10%;
        box-shadow: 0px 0px gray;
      }
    
      to {
        margin-bottom: 2%;
        width: 24%;
        box-shadow: 5px 5px gray;
      }
}

@keyframes pSlideIn {
    from {
        font-size: 0px;
      }
    
      to {
        font-size: large;
      }
}

@keyframes titleSlideIn {
    from {
        height: 0px;
      }
    
      to {
        height: auto;
      }
}